/* @import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}

:root {
    --main-color: #070F2B;
    --secondary-color: #1B1A55;
    --three-color: #A19FD5;
    --four-color: #A19FD5;


}


/* mobile nav */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.hamburger {
    display: none; /* Initially hide on larger screens */
    flex-direction: column;
    cursor: pointer;
    transform: scale(1.4);
    
}

.line-menu {
    width: 25px;
    height: 3px;
    background-color: var(--three-color);
    margin: 3px 0;
    transition: transform 0.4s ease;
}

.menu {
    display: flex;
    list-style-type: none;
    padding: 0;
}


@media screen and (min-width: 768px){
  .menu{
    display: none;
  }
}
@media screen and (max-width: 768px) {
    .hamburger {
        display: flex;
    }

    .menu {
        display: none; /* Hide menu on smaller screens initially */
        flex-direction: column;
        background-color: var(--main-color);
        
        position: absolute;
        top: 85px; /* Adjust as needed */
        left: 10px; /* Adjust as needed */
        padding: 10px;
        width: 130px;
        text-align: center;
        font-family: "Bai Jamjuree", sans-serif;
        border-radius: 5px;
    }

    .menu li {
        margin: 10px 0;
       
    }
    .menu li a{
        color: var(--four-color);
        font-weight: bold;
        font-size: 18px;
    }
    .menu.active {
        display: flex;
    }
}

html {

    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    scroll-behavior: smooth;
   
}

/* Dark Theme */


.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);



}

.loader img {
    animation: spin 1s linear infinite alternate;
    border: 4px solid var(--four-color);
    background-color: var(--main-color);
    border-radius: 50%;
    padding: 20px;

}

.loader .txtL {
    color: var(--four-color);
    margin-top: 20px;
    padding: 20px;
}

@keyframes spin {}

.srcollTop {
    position: fixed;
    right: 2rem;
    bottom: -50%;
    background-color: #2EFA00;
    box-shadow: 0px 2px 7px rgb(8, 8, 8);
    display: inline-flex;
    padding: 8px;
    z-index: 999;
    border-radius: 5px;
    transition: bottom .4s, transform .4s, background-color .4s;

}

.srcollTop:hover {
    transform: translateY(-.3rem);
    background-color: var(--three-color);

}

.show-scroll {
    bottom: 3rem;
}





/* Hide content initially */
.hidden {
    display: none;
}




.container {
    margin-left: auto;
    margin-right: auto;
    /* padding-left: 5px;
    padding-right: 15px; */
    
   

}

a {
    list-style: none;
    text-decoration: none;
}

ul li {
    list-style: none;
}



/* small */
@media (min-width:768px) {
    .container {
        width: 970px;
    }

}

/* medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }

}

/* large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}
@media (max-width:768px){
    .container{
        overflow: hidden;
    }
}

::selection {
    color: #0b335e;
    background-color: var(--three-color);
}


body {
    background: #061423;
    overflow-x: hidden;

}

.darkmode-toggle {
    font-size: 25px;
    padding-bottom: 3px;
    padding-right: 3px;
}

@media (min-width:768px) {


    .darkmode-toggle {
        z-index: 6;
        top: 2.5%;

    }
}

@media (max-width:768px) {


    .darkmode-toggle {
        position: absolute;
        top: 2.5%;
        z-index: 5;


    }
}

header {
    display: flex;
    align-items: center;
    height: 80px;
    position: fixed;
    z-index: 2;
    background: #06142375;
}

header .container {
    z-index: 2;
    border-radius: 10px;
    position: relative;


    padding: 20px;
    animation: glow 1s alternate;
    font-family: "Bai Jamjuree", sans-serif;
    font-weight: bold;
    font-weight: bold;
    font-style: normal;


}

@media (min-width:768px) {
    header #logo {
        position: absolute;
        left: 15%;
    }
}


@media (max-width:768px) {



    header .container {
        display: none;

    }

    header #logo {
        position: absolute;
        left: 25%;
        z-index: 555;
        cursor: pointer;

    }

}



@keyframes glow {
    from {
        text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f;
    }

    to {
        text-shadow: 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f;
    }
}

header img {


    max-width: 400px;
    position: absolute;
    left: 50px;
}


header .container ul {
    display: flex;
    justify-content: center;

}

header .container ul a {
    cursor: pointer;
    margin-left: 20px;
    color: var(--four-color);
    text-transform: capitalize;
    font-size: 1.3rem;
    padding: 7px;
    transition: .3s;
}



section {
    padding-top: 100px;
    /* padding-bottom: 80px; */
    z-index: 1;
}

section .container {
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 90px 0;



}

header .container ul a:hover:not(.active) {
    background-color: black;
    border-radius: 50%;
    box-shadow: 3px 6px 0px wheat;
    padding: 6px 3px;
    padding: 7px;


}

header .container ul a.active {
    background-color: black;
    border-radius: 50%;
    box-shadow: 3px 6px 0px wheat;
    padding: 7px;
}


section {
    min-height: 100vh;
}

section .text {


    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

section .text h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--three-color);

    text-transform: uppercase;
}

section .text span {
    display: block;
    padding-top: 20px;
    font-size: 35px;
    font-weight: bold;
    color: #AEB87C;
    font-weight: bold;
    text-shadow: 3px 6px var(--secondary-color);
    text-transform: uppercase;
}

section .text span>span {

    color: rgb(82, 224, 82);

}

section .text p {
    margin-top: 40px;
    font-size: 28px;
    color: var(--three-color);
}

section .left {
    position: fixed;
    top: 40%;
    left: 4%;
    z-index: 9;




}

section .left .socialM {

    margin-top: 60px;
    font-size: 35px;
    position: relative;



}

section .left .socialM::after {
    content: "";
    margin-top: 30px;
    left: 50%;
    width: 3px;
    height: 50%;
    position: absolute;
    background-color: var(--four-color);
}






section .left .socialM a {


    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 10px;

    color: #AEB87C;
    padding: 5px;
    border-radius: 50%;


    transition: .3s;
}

@media (max-width:768px) {
    section .left {
        position: absolute;
        z-index: 0;
        margin-top: 70px;

    }

    section .left .socialM {
        font-size: 20px;
    }


    section .container .text {
        margin-left: -65px;
        text-align: center;
        flex: 1;
    }

    section .container .text h1 {
        font-size: 20px;

    }

    section .container .text span {
        font-size: 18px;

    }



    section .left .socialM::after {
        display: none;
    }

    section img {
        margin-left: -10px;
    }

}



section .container .relative {
    position: relative;
}

section .container .relative img:nth-child(1) {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 1px solid #63d308;
    background: url(../images/matrix-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    z-index: 4444;
    transition: transform 0.3s ease;
    box-shadow: 3px 0px 6px #63d308;
}

section .container img:hover:nth-child(1) {
    transform: scale(1.05);
    box-shadow: 3px 4px 6px #63d308;
}

section .container .relative img:nth-child(2) {
    width: 100%;
    max-width: 90px;
    position: absolute;
    right: -1%;
    top: -4%;
}

section .container .relative img:nth-child(3) {
    width: 100%;
    max-width: 90px;
    position: absolute;
    left: 9%;
    bottom: -12%;
}

section .container .relative img:nth-child(4) {
    width: 100%;
    max-width: 90px;
    position: absolute;
    left: -1%;
    top: -5%;
}

section .left .socialM a:hover {


    transform: translateY(-4px);
    box-shadow: 3px 4px 6px black;
}




section .scroll {
    position: absolute;

    left: 50%;

    cursor: pointer;
}

@media (max-width:768px) {
    section .scroll {
        bottom: 70px;
    }

    section .container {
        flex-direction: column-reverse;
        gap: 30px;
        
    }

    section .container .relative {
        margin-top: -54px;
        max-width: 250px;

    }

    section .container .relative img:not(:nth-child(1)) {
        max-width: 60px;
    }

}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0px;
    height: 100%;
    width: 51%;
    background: black;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

#g-container {
    width: 100vw;
    padding: 10px;


}

#g-container::before {
    content: "";
    position: fixed;
    height: 4px;
    left: 0;
    top: 0;
    right: 0;
    background: var(--three-color);

    animation: scale 2s linear;

    transform-origin: 0 50%;
}

/* --- Custom Properties -- */
:root {
    --steps: 20;
    --typing-duration: 4s;
    --caret-blink-duration: 0.5s;
}

.hero__title {
    display: inline-block;
    max-width: 0;
    font: bold 300% monospace;
    white-space: nowrap;
    border-right: 1px solid transparent;

    animation: typing var(--typing-duration) steps(var(--steps)) forwards,
        caret var(--caret-blink-duration) steps(1) infinite;
        color: var(--three-color);
    overflow: hidden;
}


@keyframes typing {
    to {
        max-width: calc(var(--steps) * 1ch);
    }
}

@keyframes caret {
    50% {
        border-right-color: currentColor;
    }
}

@keyframes scale {
    0% {
        transform: scaleX(0);

    }

    90%,
    100% {
        transform: scaleX(1);

    }

}


/* //.about */
.about {
   
    position: relative;
}
.quote{
    color: var(--four-color);
    text-align: center;
    padding-top: 10px;
    text-transform: capitalize;
    position: relative;
}
.quote h1::before, .quote h1::after{
    content: "✭";
    color: gold;
    padding: 5px;

}

@media (min-width:768px){
    .about , .skills , .project{
        padding: 100px 0;
    }
    .skills{
        margin-top: -150px;
        
    }
    .about .about-content{
        padding-top: 40px;
        border-bottom: 1px solid var(--four-color); ;
    }
    
    .about .hero__title {
        border-right: none;
        margin-left: 200px;
        margin-top: 20px;
        animation: typing 2.5s steps(var(--steps)) infinite,
            caret var(--caret-blink-duration) steps(1) infinite; 
    }
   
    .skills .hero__title{
        border-right: none;
        margin-left: 200px;
        margin-top: -20px;
        animation: typing 2.5s steps(var(--steps)) infinite,
            caret var(--caret-blink-duration) steps(1) infinite;
    }
    .project .hero__title{
        border-right: none;
        margin-left: 200px;
        margin-top: -20px;
        animation: typing 2.5s steps(var(--steps)) infinite,
            caret var(--caret-blink-duration) steps(1) infinite;
    }
    

}
@media (max-width:768px){
    .hero__title{
        margin-left: 1.3rem;
    }
    .about , .skills, .project{
        padding-top: 80px;
    }
    .quote{
        font-size: .5rem;
    }
    .about  .download-link{
        display: flex;
        justify-content: center;
        place-items: center;
        
    }
    .line::after {
        display: none;
    }
    .line::before {
        display: none;
    }
    
}
.about .about-content{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    overflow: hidden;
   

}
.about .container .image {
flex: 1;
overflow: hidden;
padding: 10px;

}
.about .image img{
     width: auto;
     height: 100%;
     max-height: 400px;
     border-radius: .5rem;
    
}
.about #about-text{
    flex:600px;
    margin-left: 1.3rem;
    position: relative;
    
   
}
.about #about-text p{
    font-size: 1.6rem;
    color: var(--three-color);
}
.about  .download-link{
    background-color: green;
    color: white;
    padding: 5px 20px;
    font-size: 1.5rem;
    border-radius: .3rem;
    
}
.about .link-cv{
    margin-top: 40px;
    
    
}

.line::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    top: 19%;
    background-color: var(--four-color);
}

.line::before {
    content: "";
    position: absolute;
    width: 3px;
    min-height: 470px;
    top: 20%;
    background-color: var(--four-color);
}



/* end skills */
.skills{
    position: relative;
   
    
}
.card-skill {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    text-align: center;
    gap: 30px;
    font-family: "Bai Jamjuree", sans-serif;
}

@media (min-width:768px) {
    .card-skill {
        position: relative;
        left: 100px;
        top: 50px;

    }

    .card-skill .design,
    .outils {
        position: relative;
        left: 200px;
    }
}


.card-skill .border {
    border: 2px solid var(--three-color);


}

.card-skill h2 {
    font-weight: bold;
    color: var(--four-color);
    padding: 5px;
    border-bottom: 2px solid var(--three-color);
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 10px;
    width: 100%;
    padding: 10px;

}

.grid-item {
    border: solid 2px var(--four-color);
    text-align: center;
    padding: 7px 0;
    cursor: pointer;
    transition: .3s;

}

.grid-item p {
    color: #AEB87C;
    font-weight: bold;


}

.grid-item:hover {
    background-color: var(--secondary-color);
    color: aliceblue;
    box-shadow: 2px 2px 2px var(--four-color);
}

.grid-item:hover>img {
    scale: 1.1;
}

.card-skill .border img {
    width: 50%;
    aspect-ratio: 2;
    object-fit: contain;

}

/* project */
.project{
   position: relative;
    height: 100vh;
}
.project .container{
    padding-top: 20px;
}


@media (min-width:768px){
.project .hero__title{
margin-top: 20px;
}


}


.projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Adjust the number of columns as needed */
    gap: 20px; /* Adjust the gap between grid items */
    border-top : 1px solid var(--three-color);
   
}
@media (min-width: 768px){
    .projects-container{
         padding-top: 50px;
    }
}
.project-box {
    border: 1px solid #ccc; /* Border style and color */
    padding: 20px;
    text-align: center;
    display: block; /* Initially display all projects */
}
/* Example styling for the content inside the box */
.project-title {
    font-size: 18px;
    margin-bottom: 10px;
}
.project-description {
    font-size: 14px;
    color: #666;
}
/* Styles for the filter buttons */
.filter-buttons {
    text-align: right;
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    
}
.filter-btn {
    margin: 5px;
    padding: 8px 12px;
    border: 1px solid #ccc;
    cursor: pointer;
    background-color: #f5f5f5;
}
/* Style for the search input */
.search-input-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
}
.search-input {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
}
.search-icon {
    margin-right: 5px;
}
/* Style for the highlighted text */
.highlight {
    background-color: var(--four-color);
    font-weight: bold;
}
.input-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    position: relative;
  }
  
  .input {
    border-style: none;
    height: 50px;
    width: 50px;
    padding: 10px;
    outline: none;
    border-radius: 50%;
    transition: 0.5s ease-in-out;
    background: var(--secondary-color);
    box-shadow: 0px 0px 3px  var(--main-color);
    padding-right: 40px;
    color: #fff;
  }
  
  .input::placeholder,
  .input {
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
      "Lucida Sans", Arial, sans-serif;
    font-size: 17px;
  }
  
  .input::placeholder {
    color: #8f8f8f;
  }
  
  .icon {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0px;
    cursor: pointer;
    width: 50px;
    height: 50px;
    outline: none;
    border-style: none;
    border-radius: 50%;
    pointer-events: painted;
    background-color: transparent;
    transition: 0.2s linear;
  }
  
  .icon:focus ~ .input,
  .input:focus {
    box-shadow: none;
    width: 250px;
    border-radius: 0px;
    background-color: transparent;
    border-bottom: 3px solid #1557c0;
    transition: all 500ms cubic-bezier(0, 0.11, 0.35, 2);
  }
  
  .cta {
    position: relative;
    margin: auto;
    padding: 12px 18px;
    transition: all 0.2s ease;
    border: none;
    background: none;
    cursor: pointer;
  }
  
  .cta:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    border-radius: 50px;
    background: var(--main-color);
    width: 45px;
    height: 45px;
    transition: all 0.3s ease;
  }
  
  .cta span {
    position: relative;
    font-family: "Ubuntu", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 0.05em;
    color: #234567;
  }
  
  .cta svg {
    position: relative;
    top: 0;
    /* margin-left: 10px; */
    fill: none;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke: #234567;
    stroke-width: 2;
    transform: translateX(-5px);
    transition: all 0.3s ease;
  }
  
  .cta:hover:before {
    width: 100%;
    background: #b1dae7;
  }
  
  .cta:hover svg {
    transform: translateX(0);
  }
  
  .cta:active {
    transform: scale(0.95);
  }

  
#message{
  position: absolute;
   left: 40%;
   top: 50%;
   transform: translate(-40%,-50%);
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  color: red;
  font-weight: bold;

}
