/* @import url('https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --main-color: #070F2B;
    --secondary-color: #1B1A55;
    --three-color: #A19FD5;
    --four-color: #A19FD5;


}

.main {
    position: absolute;

    left: unset;
    display: none;
    z-index: 3;
}

@media (max-width:768px) {
    .main {
        display: block;
    }

}


.hamburger {
    position: relative;
    width: 50px;
    height: 50px;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    padding: 10px;

    &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 20px;

        background: -webkit-linear-gradient(9deg, #0b335e, var(--four-color));
        background: linear-gradient(9deg, #0b335e, var(--four-color));
        transform: rotate(0deg);
        transition: all 0.4s cubic-bezier(0.54, -0.10, 0.57, 0.57);
    }

    .hamburger-input {
        position: absolute;
        opacity: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        cursor: pointer;
    }

    .hamburger-line {

        background: #fff;
        height: 3px;
        display: block;
        border-radius: 6px;
        transition: transform 0.4s cubic-bezier(0.54, -0.81, 0.57, 0.57);
        position: relative;

        &.first,
        &.third {
            width: 50%;
        }

        &.third {
            margin-left: 50%;
            transform-origin: left;
        }
    }
}

.menu-button-wrapper {
    position: relative;
    display: inline-block;

    .item-list {
        position: absolute;
        left: 75px;
        top: 66px;
        transform: translateX(-50%) scale(0);
        transform-origin: center;
        transition: all 0.4s cubic-bezier(0.54, -0.10, 0.57, 0.57);
        background-color: #303242;
        color: #fff;
        width: 170px;

        padding: 20px 0;
        transition: .3s;
        text-align: center;
        border-radius: 100px;
        font-weight: 300;
        opacity: 0;
        user-select: none;

        ul li {
            padding: 10px 30px;
            cursor: pointer;

        }

        ul li a {
            color: var(--four-color);
            font-family: "Bai Jamjuree", sans-serif;
            font-weight: 700;
            font-size: 24px;
        }

        ul li a:hover {
            color: var(--main-color);
        }
    }

    .menu-button {
        position: absolute;
        width: 200px;
        height: 70px;
        left: 0;
        z-index: 2;
        opacity: 0;
        cursor: pointer;
    }
}

.menu-button {
    &:checked~.item-list {
        transform: translateX(-50%) scale(1);
        border-radius: 20px;
        opacity: 1;
        user-select: auto;
    }

    &:checked~.icon-wrapper .hamburger-line.second {
        transform: rotate(-45deg);
    }

    &:checked~.icon-wrapper .hamburger-line.first {
        transform: translate(2px, 8px) rotate(-135deg);
    }

    &:checked~.icon-wrapper .hamburger-line.third {
        transform: translate(11px, -3px) rotate(-135deg);
    }

    &:checked~.icon-wrapper .hamburger:before {
        transform: rotate(45deg);
    }
}

html {

    -webkit-scroll-behavior: smooth;
    -moz-scroll-behavior: smooth;
    scroll-behavior: smooth;
}

/* Dark Theme */


.loader {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);



}

.loader img {
    animation: spin 1s linear infinite alternate;
    border: 4px solid var(--four-color);
    background-color: var(--main-color);
    border-radius: 50%;
    padding: 20px;

}

.loader .txtL {
    color: var(--four-color);
    margin-top: 20px;
    padding: 20px;
}

@keyframes spin {}

.srcollTop {
    position: fixed;
    right: 2rem;
    bottom: -50%;
    background-color: #2EFA00;
    box-shadow: 0px 2px 7px rgb(8, 8, 8);
    display: inline-flex;
    padding: 8px;
    z-index: 999;
    border-radius: 5px;
    transition: bottom .4s, transform .4s, background-color .4s;

}

.srcollTop:hover {
    transform: translateY(-.3rem);
    background-color: var(--three-color);

}

.show-scroll {
    bottom: 3rem;
}





/* Hide content initially */
.hidden {
    display: none;
}




.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5px;
    padding-right: 15px;

}

a {
    list-style: none;
    text-decoration: none;
}

ul li {
    list-style: none;
}



/* small */
@media (min-width:768px) {
    .container {
        width: 970px;
    }

}

/* medium */
@media (min-width:992px) {
    .container {
        width: 970px;
    }

}

/* large */
@media (min-width:1200px) {
    .container {
        width: 1170px;
    }
}

::selection {
    color: #0b335e;
    background-color: var(--three-color);
}


body {
    background: #061423;
    overflow-x: hidden;

}

.darkmode-toggle {
    font-size: 25px;
    padding-bottom: 3px;
    padding-right: 3px;
}

@media (min-width:768px) {


    .darkmode-toggle {
        z-index: 6;
        top: 2.5%;

    }
}

@media (max-width:768px) {


    .darkmode-toggle {
        position: absolute;
        top: 2.5%;

        z-index: 5;


    }
}

header {
    display: flex;
    align-items: center;
    height: 80px;
    position: fixed;
    z-index: 2;
    background: #06142375;
}

header .container {
    z-index: 2;
    border-radius: 10px;
    position: relative;

    /* filter: drop-shadow(5px 6px 7px rgb(3, 3, 3)); */
    padding: 20px;
    animation: glow 1s alternate;

    font-family: "Bai Jamjuree", sans-serif;
    font-weight: bold;
    font-weight: bold;
    font-style: normal;


}

@media (min-width:768px) {
    header #logo {
        position: absolute;
        left: 15%;
    }
}


@media (max-width:768px) {



    header .container {
        display: none;

    }

    header #logo {
        position: absolute;
        left: 30%;
        z-index: 555;

    }

}



@keyframes glow {
    from {
        text-shadow: 0 0 10px #00f, 0 0 20px #00f, 0 0 30px #00f;
    }

    to {
        text-shadow: 0 0 20px #00f, 0 0 30px #00f, 0 0 40px #00f;
    }
}

header img {


    max-width: 400px;
    position: absolute;
    left: 50px;
}


header .container ul {
    display: flex;
    justify-content: center;

}

header .container ul a {
    cursor: pointer;
    margin-left: 20px;
    color: var(--four-color);
    text-transform: capitalize;
    font-size: 1.3rem;
    padding: 7px;
    transition: .3s;
}



section {
    padding-top: 100px;
    padding-bottom: 80px;
    z-index: 1;
}

section .container {
    display: flex;
    justify-content: space-between;
    place-items: center;
    padding: 90px 0;


}

header .container ul a:hover:not(.active) {
    background-color: black;
    border-radius: 50%;
    box-shadow: 3px 6px 0px wheat;
    padding: 6px 3px;
    padding: 7px;


}

header .container ul a.active {
    background-color: black;
    border-radius: 50%;
    box-shadow: 3px 6px 0px wheat;
    padding: 7px;
}


section {
    min-height: 100vh;
}

section .text {


    position: relative;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

section .text h1 {
    font-size: 40px;
    margin-bottom: 10px;
    color: var(--three-color);

    text-transform: uppercase;
}

section .text span {
    display: block;
    padding-top: 20px;
    font-size: 35px;
    font-weight: bold;
    color: #AEB87C;
    font-weight: bold;
    text-shadow: 3px 6px var(--secondary-color);
    text-transform: uppercase;
}

section .text span>span {

    color: rgb(82, 224, 82);

}

section .text p {
    margin-top: 40px;
    font-size: 28px;
    color: var(--three-color);
}

section .left {
    position: fixed;
    top: 40%;
    left: 4%;
    z-index: 9;




}

section .left .socialM {

    margin-top: 60px;
    font-size: 35px;
    position: relative;



}

section .left .socialM::after {
    content: "";
    margin-top: 30px;
    left: 50%;
    width: 3px;
    height: 50%;
    position: absolute;
    background-color: var(--four-color);
}






section .left .socialM a {


    display: flex;
    text-align: center;
    flex-direction: column;
    margin-top: 10px;

    color: #AEB87C;
    padding: 5px;
    border-radius: 50%;


    transition: .3s;
}

@media (max-width:768px) {
    section .left {
        position: absolute;
        z-index: 0;
        margin-top: 70px;

    }

    section .left .socialM {
        font-size: 20px;
    }


    section .container .text {
        margin-left: -65px;
        text-align: center;
        flex: 1;
    }

    section .container .text h1 {
        font-size: 20px;

    }

    section .container .text span {
        font-size: 18px;

    }



    section .left .socialM::after {
        display: none;
    }

    section img {
        margin-left: -10px;
    }

}



section .container .relative {
    position: relative;
}

section .container .relative img:nth-child(1) {
    width: 100%;
    max-width: 400px;
    height: auto;
    border: 1px solid #63d308;
    background: url(../images/matrix-background.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    z-index: 4444;
    transition: transform 0.3s ease;
    box-shadow: 3px 0px 6px #63d308;
}

section .container img:hover:nth-child(1) {
    transform: scale(1.05);
    box-shadow: 3px 4px 6px #63d308;
}

section .container .relative img:nth-child(2) {
    width: 100%;
    max-width: 90px;
    position: absolute;
    right: -1%;
    top: -4%;
}

section .container .relative img:nth-child(3) {
    width: 100%;
    max-width: 90px;
    position: absolute;
    left: 9%;
    bottom: -12%;
}

section .container .relative img:nth-child(4) {
    width: 100%;
    max-width: 90px;
    position: absolute;
    left: -1%;
    top: -5%;
}

section .left .socialM a:hover {


    transform: translateY(-4px);
    box-shadow: 3px 4px 6px black;
}




section .scroll {
    position: absolute;

    left: 50%;

    cursor: pointer;
}

@media (max-width:768px) {
    section .scroll {
        bottom: 70px;
    }

    section .container {
        flex-direction: column-reverse;
        gap: 60px;
    }

    section .container .relative {
        margin-top: -54px;
        max-width: 250px;

    }

    section .container .relative img:not(:nth-child(1)) {
        max-width: 60px;
    }

}

.chevron {
    position: absolute;
    width: 28px;
    height: 8px;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale3d(0.5, 0.5, 0.5);
    animation: move 3s ease-out infinite;
}

.chevron:first-child {
    animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
    animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
    content: ' ';
    position: absolute;
    top: 0px;
    height: 100%;
    width: 51%;
    background: black;
}

.chevron:before {
    left: 0;
    transform: skew(0deg, 30deg);
}

.chevron:after {
    right: 0;
    width: 50%;
    transform: skew(0deg, -30deg);
}

@keyframes move {
    25% {
        opacity: 1;

    }

    33% {
        opacity: 1;
        transform: translateY(30px);
    }

    67% {
        opacity: 1;
        transform: translateY(40px);
    }

    100% {
        opacity: 0;
        transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
    }
}

#g-container {
    width: 100vw;
    padding: 10px;


}

#g-container::before {
    content: "";
    position: fixed;
    height: 4px;
    left: 0;
    top: 0;
    right: 0;
    background: var(--three-color);

    animation: scale 2s linear;

    transform-origin: 0 50%;
}

/* --- Custom Properties -- */
:root {
    --steps: 20;
    --typing-duration: 4s;
    --caret-blink-duration: 0.5s;
}

.hero__title {
    display: inline-block;
    max-width: 0;

    font: bold 300% monospace;
    white-space: nowrap;
    border-right: 1px solid transparent;

    animation: typing var(--typing-duration) steps(var(--steps)) forwards,
        caret var(--caret-blink-duration) steps(1) infinite;

    overflow: hidden;
}


@keyframes typing {
    to {
        max-width: calc(var(--steps) * 1ch);
    }
}

@keyframes caret {
    50% {
        border-right-color: currentColor;
    }
}

@keyframes scale {
    0% {
        transform: scaleX(0);

    }

    90%,
    100% {
        transform: scaleX(1);

    }

}


/* about me */
.about {
    padding-top: 130px;
    height: 100vh;
    position: relative;


}

.about .hero__title {
    border-right: none;
    margin-left: 200px;
    animation: typing 2.5s steps(var(--steps)) infinite,
        caret var(--caret-blink-duration) steps(1) infinite;
}

.about h1 {
    position: relative;
    padding: 10px;
    text-transform: capitalize;
    color: var(--three-color);
}

.about::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    left: 28%;
    top: 23%;
    background-color: var(--four-color);
}

.about::before {
    content: "";
    position: absolute;
    width: 3px;
    height: 590px;
    top: 24%;
    left: 13%;
    background-color: var(--four-color);
}

.about .content {
    display: flex;

    gap: 30px;
    padding-top: 50px;

}

.about .container img {

    padding: 20px;
    width: 460%;
    height: 400px;

    border-radius: 35px;
}

.about .container #about-txt p {
    color: var(--four-color);
    font-size: 24px;
    padding-top: 20px;
    margin-left: 250px;
    letter-spacing: 1.6px;
    font-family: 'Roboto';
}

.about .download-link {
    background-color: var(--secondary-color);
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
    position: absolute;
    bottom: 19%;
    left: 50%;
    font-size: 20px;
    font-family:'Roboto' sans-serif;
}

.download-link:hover {
    background-color: #092d53;
}